.breed-select {
  width: 250px;
}

.cat-info {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
}

.cat-details {
  flex-grow: 1;
}

.cat-info img {
  max-width: 50%;
  height: auto;
}

.characteristics-cat {
  margin-right: 15px;
}

.temp {
  font-weight: 40px;
  font-size: larger;
}

.hidden {
  display: none;
}

.error {
  color: red;
}
.loader {
  font-weight: 700;
}
